.savedMeals {
    height: 100%;
    display: flex;
    padding-left: 20%;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    height: 65vh;
    width: 60vh;
    display: flex;
    flex-direction: column;
    border: 2px solid #FFFFFF;
    align-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
    background-color: #292929;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 35px;
}

.container {
    height: 75vh;
    display: flex;
    flex-direction: column;
  }

.title {
padding-left: 100px;
left: 31px;
top: 11px;
font-family: 'Gilroy';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 49px;

color: #FFFFFF;
}

.main {
box-sizing: border-box;
position: absolute;
width: 1662px;
height: 1888px;
left: 21px;
top: 117px;
}

.mainHeader {
box-sizing: border-box;
width: 1623px;
height: 85px;
left: 31px;
top: 127px;
}

.cardMain {
box-sizing: border-box;
width: 1621px;
height: 1400px;
left: 33px;
top: 222px;
}

.button {
    margin-top: 15px;
    margin-left: 70px;
    width: 131px;
    height: 39px;
    left: 624px;
    top: 821px;
    background: #860711;
    border: 3px solid #FFFFFF;
    border-radius: 7px;
    color: white;
    }

.unfavoriteButton {
        margin-top: 15px;
        margin-left: 220px;
        width: 131px;
        height: 39px;
        left: 624px;
        top: 821px;
        background: #860711;
        border: 3px solid #FFFFFF;
        border-radius: 7px;
        color: white;
        }