.labels {
width: 94px;
height: 20px;
left: 149px;
top: 313px;
font-family: 'Gilroy';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 20px;
color: #858585;
}

.container {

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  width: 1000px;
  left: 83px;
  top: 222px;
  }

.header {
font-family: 'Gilroy';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
}

.cardHeader {
  box-sizing: border-box;
height: 73px;
left: 106px;
top: 230px;
}

.cardBody {
box-sizing: border-box;

left: 106px;
top: 308px;
}

.cardButtons {
height: 72px;
left: 106px;
top: 804px;
}

.savedMeals {
height: 100%;
display: flex;
padding-left: 20%;
flex-direction: row;
flex-wrap: wrap;
}

.cardContents {
font-family: 'Gilroy';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}

.cardButton {
margin-left: 50px;
margin-right: 50px;
margin-top: 4px;
width: 131px;
height: 39px;
left: 1000px;
top: 821px;
background: #860711;
border: 3px solid #FFFFFF;
border-radius: 7px;
color: white;
}

.link {
  margin-left: 50px;
margin-right: 50px;
margin-top: 4px;
width: 131px;
height: 39px;
left: 1000px;
top: 821px;
background: #860711;
border: 3px solid #FFFFFF;
border-radius: 7px;
color: white;
}

html {
    background-color: rgb(82, 83, 82);
    background-image: url("./steak.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: fixed;
    background-size: cover;
  }
