.navBarLinks {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 20px;
  }

.navbar__item {

    margin: 10px 10px;
    min-height: 2vh;
    max-height: 2vh;
    min-width: 7vw;
    font-family: 'Gilroy';
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.navbar__item:hover {
    cursor: pointer;
    transform: scale(1.05);
}
  
.navbar__link {
    
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    
    color: #FFFFFF;
}
  
.Logo {
    position: absolute;
    top: 5%;
    left: 3%;
}
  
  
html{
    font-family:Glegoo;
}